@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
